<app-header> </app-header>

<section style="background: url(&quot;assets/img/photo-1571624436279-b272aff752b5.jpg&quot;);">
    <!-- Start: Features Cards -->
    <div class="container py-5">
        <div class="mx-auto">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-8 col-xl-6 col-xxl-8 text-center mx-auto" style="background: #ffffff;border-radius: 16px;">
                    <p class="fs-3 fw-bold text-success mb-2">Freelancer Bookmark Job</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                <div class="col-xxl-4 mb-4">
                    <div class="card bg-primary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-primary card-text mb-2">Bookmark</p>
                            <h5 class="fw-bold card-title mb-3">Bookmark a Job<br><br></h5><button class="btn btn-primary btn-sm" type="button" data-bs-target="#modal-1" data-bs-toggle="modal">View Active Jobs</button>
                        </div>
                    </div>
                </div>
                



                <div class="col-xl-4 mb-4">
                    <div class="card bg-info-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-info card-text mb-2">VIew</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Applied Jobs<br></h5><button class="btn btn-info btn-sm" type="button" style="margin-right: 10px;" data-bs-target="#modal-2" data-bs-toggle="modal">View&nbsp; List</button>
                        </div>
                    </div>
                </div>




                <div class="col-xl-4 mb-4">
                    <div class="card bg-info-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-info card-text mb-2">VIew</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Bookmarked Jobs<br></h5><button class="btn btn-info btn-sm" type="button" style="margin-right: 10px;" data-bs-target="#modal-3" data-bs-toggle="modal">View&nbsp; List</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- End: Features Cards -->
</section><!-- Start: Footer Multi Column -->

<app-footer> </app-footer>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: var(--bs-green);font-weight: bold;">Active Jobs</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="text-align: center;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Job Title</th>
                                <th>Job Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of allactivejobs" >
                            <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.title}}</td>
                                <td>{{data.description}}</td>
                                <td> <button class="btn btn-primary"  (click)=" bookmarkjob(data)" > Bookmarkjob </button> </td>
                                <td> <button class="btn btn-primary"  (click)="Apply(data)" > Apply </button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>




<div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold;color: var(--bs-green);">Applied Job List</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="text-align: center;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Job ApplicationID</th>
                                <th>Applied Date</th>
                                
                                
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of allappliedjobbyfree">
                            <tr>
                                
                                <td>{{data.id}}</td>
                                <td>{{data.appliedDate}}</td> 
                               
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>











<div class="modal fade" role="dialog" tabindex="-1" id="modal-3">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold;color: var(--bs-green);">Bookmarked Job List</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" style="text-align: center;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Bookmarked JobID</th>
                                <th>Job Title</th>
                                <th>Job Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of allbookmarkjobbyfree">
                            <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.job.title}}</td>
                                <td>{{data.job.description}}</td>
                                <td> <button class="btn btn-primary"  (click)="deletebookmarkjob(data)" > Remove </button> </td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>