 <app-header>

</app-header>
<section style="background: url(&quot;assets/img/photo-1571624436279-b272aff752b5.jpg&quot;);">
    <!-- Start: Features Cards -->
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
            <div class="col-xxl-4 mb-4">
                <div class="card bg-primary-light">
                    <div class="card-body text-center px-4 py-5 px-md-5">
                        <p class="fs-5 fw-bold text-primary card-text mb-2">Bookmark Freelancer</p>
                        <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Freelancers</h5><button class="btn btn-primary btn-sm" type="button" data-bs-target="#modal-1" data-bs-toggle="modal">List Freelancers</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-4">
                <div class="card bg-secondary-light">
                    <div class="card-body text-center px-4 py-5 px-md-5">
                        <p class="fs-5 fw-bold text-secondary card-text mb-2">Find Bookmark by ID</p>
                        <h5 class="fw-bold card-title mb-3">Search previously bookmarked Freelancers</h5><button class="btn btn-secondary btn-sm" type="button" data-bs-target="#modal-2" data-bs-toggle="modal">Find By ID</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mb-4">
                <div class="card bg-info-light">
                    <div class="card-body text-center px-4 py-5 px-md-5">
                        <p class="fs-5 fw-bold text-info card-text mb-2">List Bookmarks</p>
                        <h5 class="fw-bold card-title mb-3">See list of all previously Bookmarked Freelancer</h5><button class="btn btn-info btn-sm" type="button" style="margin-right: 10px;" data-bs-target="#modal-3" data-bs-toggle="modal">View List</button>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: Features Cards -->
</section><!-- Start: Footer Multi Column -->
<div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color: var(--bs-green);font-weight: bold;">List Freelancer</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Skill</th>
                               
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider" *ngFor="let data of allfreelist">
                            <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.firstName}}</td>
                                <td>{{data.lastName}}</td>
                                <td>{{data.lastName}}</td>

                                
                                <td> <button class="btn btn-primary"  (click)="bookmark(data)" > Bookmark </button> </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-2">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold;color: var(--bs-green);">Find By ID</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="text-center"><input class="form-control" type="text" placeholder="Enter Bookmarked Freelancer ID" style="text-align: center;">
                    <div><a class="btn btn-primary" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button" style="background: var(--bs-btn-disabled-border-color);margin-top: 10px;margin-bottom: 10px;"><strong>&nbsp; </strong><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-search" style="font-size: 20px;">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg><strong>Search&nbsp;</strong><br></a>
                        <div class="collapse" id="collapse-1">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>User Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-group-divider">
                                        <tr>
                                            <td>002</td>
                                            <td>Vaibhav</td>
                                            <td>Gupta</td>
                                            <td>vaibhav</td>
                                            <td><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bookmark-star" style="color: var(--bs-blue);font-size: 25px;margin-right: 5px;">
                                                    <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"></path>
                                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                                </svg><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-circle-fill" style="color: var(--bs-danger);font-size: 25px;margin-left: 5px;">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                                </svg></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button></div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-3">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold;color: var(--bs-green);">View List</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <tr>
                                <td>002</td>
                                <td>Vaibhav</td>
                                <td>Gupta</td>
                                <td>vaibhav</td>
                                <td><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bookmark-star" style="color: var(--bs-blue);font-size: 25px;margin-right: 5px;">
                                        <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"></path>
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-x-circle-fill" style="color: var(--bs-danger);font-size: 25px;margin-left: 5px;">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                    </svg></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
        </div>
    </div>
</div>

<app-footer> </app-footer>