
<app-header> </app-header>


<section style="background: url(&quot;assets/img/photo-1571624436279-b272aff752b5.jpg&quot;);">
    <div class="container py-5">
        <div class="mx-auto">
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-8 col-xl-6 col-xxl-8 text-center mx-auto" style="background: #ffffff;border-radius: 16px;">
                    <p class="fs-3 fw-bold text-success mb-2">Admin</p>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                <div class="col-xxl-4 mb-4">
                    <div class="card bg-primary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-primary card-text mb-2">Manage Freelancers</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Freelancers</h5><a class="btn btn-primary btn-sm" role="button" href="adminFreelancers.html">List all Freelancers</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 mb-4">
                    <div class="card bg-secondary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-secondary card-text mb-2">Manage Recruiters</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Recruiters</h5><button class="btn btn-secondary btn-sm" type="button">Learn more</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 mb-4">
                    <div class="card bg-info-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-info card-text mb-2">Manage Skills</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Skills</h5><a class="btn btn-info btn-sm" role="button" style="margin-right: 10px;" href="adminSkillsAdd.html">Add Skill</a><a class="btn btn-info btn-sm" role="button" style="margin-left: 10px;" href="adminSkills.html">List Skill</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer> </app-footer>

