<app-header></app-header>
<section style="background: url(&quot;assets/img/photo-1571624436279-b272aff752b5.jpg&quot;);">
    <div class="container py-5">
        <div class="mx-auto">
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                <div class="col-xxl-4 mb-4">
                    <div class="card bg-primary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-primary card-text mb-2">Manage Freelancers</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Freelancers</h5><a class="btn btn-primary btn-sm" role="button" routerLink= "/admin/adminfreelancer">List all Freelancers</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 mb-4">
                    <div class="card bg-secondary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-secondary card-text mb-2">Manage Recruiters</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Recruiters</h5><a class="btn btn-secondary btn-sm" role="button" href="adminRecruiters.html">List all Recruiters</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 mb-4">
                    <div class="card bg-info-light">
                        <div class="card-body text-center px-4 py-5 px-md-5">
                            <p class="fs-5 fw-bold text-info card-text mb-2">Manage Skills</p>
                            <h5 class="fw-bold card-title mb-3">Explore a list of all Registered Skills</h5><a class="btn btn-info btn-sm" role="button" style="margin-right: 10px;" href="adminSkillsAdd.html">Add Skill</a><a class="btn btn-info btn-sm" role="button" style="margin-left: 10px;" href="adminSkills.html">List Skill</a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="background: #ffffff;border-radius: 16px;padding: 10px;">
                <h1 style="text-align: center;font-size: 30px;font-weight: bold;color: var(--bs-blue);">Recruiters List</h1>
                <div class="table-responsive" style="background: #ffffff;text-align: center;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider" *ngFor="let data of allfreelist">
                            <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.firstName}}</td>
                                <td>{{data.lastName}}</td>
                                <td> <button class="btn btn-primary" (click)="delete(data)" >Delete</button> </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer> </app-footer>
